$primary: #4C6C8B;
$secondary: #758FA8;

@mixin noSelect() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

@mixin blur($pixels) {
  -webkit-box-shadow: 0px 0px $pixels 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px $pixels 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px $pixels 0px rgba(0,0,0,0.75);
}

@font-face {
  font-family:"Prototype";
  src: url("/static/Prototype.ttf") /* TTF file for CSS3 browsers */
}

body {
  background-color: #82A3C8;
  margin: 0px;
}

#frame {
  @include blur(10px);
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 467px;
  background-color: white;
  border-radius: 2px;
}

#numpad {
  padding-left: 6px;
}

.button {
  @include noSelect();
  @include blur(2px);  
  font-family: "Prototype";
  text-shadow: 0px 0px 1px rgba(150, 150, 150, 0.5);
  height: 50px;
  width: 91px;
  margin: 3px;
  line-height: 50px;
  font-size: 24px;
  text-align: center;
  display: inline-block;
  
  background-color: #82A3C8;
  color: #E0EBF7;
  border-radius: 0px !important;
  
  transition: color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out;
}

.button:hover {
  font-weight: bold;
  color: #82A3C8;  
  background-color: #E0EBF7;
  transition: color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;  
}


#display {
  @include blur(2px);
  font-family: "Prototype";
  text-shadow: 0px 0px 5px rgba(150, 150, 150, 0.8);
  padding: 15px;
  margin: 10px;
  height: 75px;  
  color: black;
  
  background: #dbe8f7; /* Old browsers */
  background: -moz-linear-gradient(top,  #dbe8f7 0%, #deedfa 31%, #e1eff9 51%, #ecf5fc 100%);
  background: -webkit-linear-gradient(top,  #dbe8f7 0%,#deedfa 31%,#e1eff9 51%,#ecf5fc 100%); 
  background: linear-gradient(to bottom,  #dbe8f7 0%,#deedfa 31%,#e1eff9 51%,#ecf5fc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbe8f7', endColorstr='#ecf5fc',GradientType=0 );
}

#result-text {
  text-align: right;
  padding: 3px 15px 3px 3px;
  height: 30px;
  font-size: 25px;
}

#current-text {
  text-align: right;
  padding: 4px 15px 4px 4px;
  height: 45px;
  font-size: 35px;
}

#footer {
  @include blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'sans-serif';
  background-color: white;
  text-align: center;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

#info-tab {
  margin-left: 15px;
}